@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

body {
  background-color: #e7f5ff;
  font-family: 'Roboto', sans-serif;
}

.node-circle {
  position: absolute;
}

.node-text-wrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  pointer-events: none;
}

.node-circle>svg>circle:hover {
  opacity: 1;
  cursor: pointer;
}

.line {
  pointer-events: none;
}

button {
  cursor: pointer;
}