@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  align-content: stretch;
}

body {
  background-color: #e7f5ff;
  font-family: 'Roboto', sans-serif;
}

.relative-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.node-circle {
  position: absolute;
}

.node-circle>svg>circle:hover {
  opacity: 1;
  cursor: pointer;
}

.node-circle>svg>text:hover {
  cursor: default;
}

button {
  cursor: pointer;
}